.nav-section{
    background: #000;
    border-top: 2px solid #fff;
}
.navbar-brand{
    color: #fff !important;
}
.nav-link{
    color: #fff !important;
}
.nav-link.active{
    color: #fff !important;
}
.btn-2{
    background: #000;
    color: #fff;
    font-weight: 500;
}
.btn-2:hover{
    color: #838181 !important;
}
.navbar-nav{
    margin-left: 150px;
}
@media screen and (max-width:1320px) {
    /* .navbar-brand{
        margin-left: -48px;
    } */
    /* .navbar-nav{
        margin-right: -70px;
    } */
}
@media screen and (max-width:1024px) {
    .navbar-brand{
        margin-left: -4px !important;
    }
    .navbar-nav{
        margin-right: -25px;
    }
}
/* @media screen and (min-width:700px) {
    .nav-content{
        margin-left: 23rem !important;
    }
} */